form(ng-submit="createItem()")
  #create-item
    input.add-item(type="text", ng-model="newItem.string", ng-change="formItem()", required)
    button.action
#new-item
  span.example(ng-hide="newItem.title") Lisää muodossa "tomaatteja 500g"...
  span.results(ng-show="newItem.title")
    strong(ng-hide="newItem.reverse") {{ newItem.title }}
    span.amount
      strong {{ newItem.amount }}
      {{ newItem.unit }}
    strong(ng-show="newItem.reverse") {{ newItem.title }}
