extends layout

block content
  article.home
    form(ng-submit="createShoppingList()", ng-class="{ 'validated': validated }")
      input(type="email", ng-model="creatorEmail", placeholder="{{ #{ i18n('home.emailPlaceholder') } }}", required)
      input(type="text", ng-model="listTitle", placeholder="{{ #{ i18n('home.namePlaceholder') } }}", required)
      button.action(ng-click="validated = true", ng-bind="#{ i18n('home.createList') }")
