header
  block header
    h1(ng-bind="#{ i18n('title') }")

block content
br

footer(ng-controller="LocaleCtrl")
  a(ng-repeat="locale in localeOptions", ng-click="setLocale(locale.id)", ng-disabled="$locale.id == locale.id", ng-bind="locale.title")
  br
  p.copy
    a(href="http://www.siili.fi", target="_blank", ng-bind="#{ i18n('copy') }")
