article.list-created
  span.happy :)
  br
  p(ng-bind="#{ i18n('listCreated.congrats') }")
  p(ng-bind="#{ i18n('listCreated.linkSendToMail') }")

#action-links: a(ui-sref="home", ng-bind="#{ i18n('createNewList') }")
