li(ng-click="toggle(item, $event)"
  title="{{ item.title }} - {{ item.amount }} {{ item.unit }}"
  ng-class="{ bought: item.bought }")

  input(type="checkbox", ng-model="item.bought", ng-click="update(item)")
  span.item
    strong {{ item.title }}&nbsp;
    span.amount
      strong {{ item.amount }}
      span(ng-bind="('units.' + item.unit | i18n) || item.unit")
  a.delete(href="", ng-click="remove(item)")
