extends layout
block header

block content
  article.list-created
    span.happy :)
    br
    p(ng-bind="#{ i18n('listCreated.congrats') }")
    p(ng-bind="#{ i18n('listCreated.linkSendToMail') }")

  #action-links: a(ng-href="/#/", ng-bind="#{ i18n('createNewList') }")
