extends layout
block header

block content
  article.not-found
    span.sad :(
    br
    span.not-found {{ 'shoppingListNotFound' | i18n }}
  #create-new-shopping-list: a(ng-href="/#/") {{ 'createNewList' | i18n }}
