extends layout
block header
  h1 {{ shoppingList.title }}

block content
  article.shopping-list
    form(ng-submit="createItem()")
      #create-item
        input.add-item(type="text", ng-model="newItem.string", ng-change="formItem()", required)
        button.action
    #new-item
      span.example(ng-hide="newItem.title") Lis채채 muodossa "tomaatteja 500g"...
      span.results(ng-show="newItem.title")
        strong(ng-hide="newItem.reverse") {{ newItem.title }}
        span.amount
          strong {{ newItem.amount }}
          {{ newItem.unit }}
        strong(ng-show="newItem.reverse") {{ newItem.title }}

    #list
      button.delete(ng-show="items.length > 0 && !listFilter", ng-click="listFilter = { bought: false }") Piilota ostetut
      button.action(ng-show="items.length > 0 && listFilter", ng-click="listFilter = null") N채yt채 kaikki
      ul
        li.placeholder(ng-show="(items | filter:listFilter).length == 0") ...
        li(ng-repeat="item in items | orderBy:'-created' | filter:listFilter",
          ng-click="toggleBought(item, $event)",
          title="{{ item.title }} - {{ item.amount }} {{ item.unit }}",
          ng-class="{ bought: item.bought }")

          input(type="checkbox", ng-model="item.bought", ng-click="updateItem(item)")
          span
            strong {{ item.title }}&nbsp;
            span.amount
              strong {{ item.amount }}
              {{ item.unit }}
          a.delete(href="", ng-click="removeItem(item)")

  #create-new-shopping-list: a(ng-href="/") Luo uusi ostoslista
