span.suggestions
  strong(ng-hide="item.reverse", ng-bind="item.title")
  span.amount
    strong(ng-bind="item.amount")
    span(ng-bind="item.unit")
  strong(ng-show="item.reverse", ng-bind="item.title")
