input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea
  box-sizing border-box
  padding .25em default-padding
  font-family "Proxima", arial, sans-serif
  border 1px solid darken(extremely-light-gray, 5)
  -webkit-appearance none
  border-radius: 0
  background linear-gradient(top, extremely-light-gray, darken(white, 2) 15%)
