// Siili colors
cream                       = rgb(228, 217, 190)
light-red                   = rgb(243, 124,  93)
orange                      = rgb(247, 136, 060)
blue                        = rgb(  0,  77, 108)
turquoise                   = rgb( 40, 167, 170)
light-turquoise             = rgb(176, 219, 217)

// Other colors
light-cream                 = rgb(248, 248, 245)
gray                        = rgb(103, 103, 103)
light-gray                  = rgb(173, 173, 173)
very-light-gray             = rgb(203, 203, 203)
extremely-light-gray        = rgb(243, 243, 243)

// Default margins
default-margin              = 1em
default-padding             = .5em

// Display width breakpoints
display-mobile-tiny         =  320px
display-mobile              =  480px
display-mobile-horizontal   =  640px
display-tablet              =  768px
display-tablet-horizontal   = 1024px

// Media query strings
mobile-min-tiny             = "all and (min-width: " + display-mobile-tiny + ")"
mobile-max-tiny             = "all and (max-width: " + (display-mobile-tiny - 1px) + ")"
mobile-min                  = "all and (min-width: " + display-mobile + ")"
mobile-max                  = "all and (max-width: " + (display-mobile - 1px) + ")"
mobile-horizontal-min       = "all and (min-width: " + display-mobile-horizontal + ")"
mobile-horizontal-max       = "all and (max-width: " + (display-mobile-horizontal - 1px) + ")"
tablet-min                  = "all and (min-width: " + display-tablet + ")"
tablet-max                  = "all and (max-width: " + (display-tablet - 1px) + ")"
tablet-horizontal-min       = "all and (min-width: " + display-tablet-horizontal + ")"
tablet-horizontal-max       = "all and (max-width: " + (display-tablet-horizontal - 1px) + ")"

// Fonts
@font-face
  font-family "Siili-Icons"
  font-style normal
  font-weight normal
  src url("../fonts/siili_icons-webfont.oet?#iefix") format("embedded-opentype"),\
      url("../fonts/siili_icons-webfont.ttf") format("truetype"),\
      url("../fonts/siili_icons-webfont.woff") format("woff"),\
      url("../fonts/siili_icons-webfont.svg#siili_iconsmedium") format("svg")

// Mixins
icon(content=null)
  font-family "Siili-Icons", "Proxima", arial, sans-serif
  if content
    content content

button-background(bg-color)
  background-color bg-color

  &:hover:not([disabled]):not(.disabled)
    background-color lighten(bg-color, 10)
    background linear-gradient(top, lighten(bg-color, 10), bg-color)

  &:active:not([disabled]):not(.disabled)
    background-color darken(bg-color, 10)
    background linear-gradient(top, darken(bg-color, 10), darken(bg-color, 5))
