// Siili colors
light-cream          = rgb(248, 248, 245)
gray                 = rgb(103, 103, 103)
light-gray           = rgb(173, 173, 173)
very-light-gray      = rgb(203, 203, 203)
extremely-light-gray = rgb(243, 243, 243)
orange               = rgb(255, 136, 060)
cyan                 = rgb( 38, 165, 170)
blue                 = rgb(000, 077, 108)
red                  = rgb(200, 010, 010)
