// Fonts
@font-face
  font-family "Siili-Icons"
  font-style normal
  font-weight normal
  src url("../fonts/siili_icons.oet?#iefix") format("embedded-opentype"),\
      url("../fonts/siili_icons.ttf") format("truetype"),\
      url("../fonts/siili_icons.woff") format("woff"),\
      url("../fonts/siili_icons.svg#siili_iconsMedium") format("svg")

@font-face
  font-family 'Nexa-Light'
  font-weight normal
  font-style normal
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_light_macroman/Nexa_Light-webfont.eot")
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_light_macroman/Nexa_Light-webfont.eot?#iefix") format('embedded-opentype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_light_macroman/Nexa_Light-webfont.woff") format('woff'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_light_macroman/Nexa_Light-webfont.ttf") format('truetype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_light_macroman/Nexa_Light-webfont.svg#nexa_lightregular") format('svg');

@font-face
  font-family 'Nexa-Bold'
  font-weight normal
  font-style normal
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_bold_macroman/Nexa_Bold-webfont.eot")
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_bold_macroman/Nexa_Bold-webfont.eot?#iefix") format('embedded-opentype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_bold_macroman/Nexa_Bold-webfont.woff") format('woff'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_bold_macroman/Nexa_Bold-webfont.ttf") format('truetype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/nexa_bold_macroman/Nexa_Bold-webfont.svg#nexa_boldregular") format('svg');

@font-face
  font-family 'Proxima'
  font-weight normal
  font-style normal
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_28_0.eot")
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_28_0.eot?#iefix") format('embedded-opentype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_28_0.woff") format('woff'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_28_0.ttf") format('truetype')

@font-face
  font-family 'Proxima'
  font-weight normal
  font-style italic
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_22_0.eot")
  src: url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_22_0.eot?#iefix") format('embedded-opentype'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_22_0.woff") format('woff'),\
       url("http://www.siili.fi/sites/siilifi/themes/siili2014/fonts/fonts/proxima_nova/webfonts/265B04_22_0.ttf") format('truetype')