// Layout
html, body
  background light-cream

body
  min-width display-mobile-tiny
  header, footer
    text-align center
    font-family "Proxima", arial, sans-serif

  header
    h1
      padding default-margin
      font-size 2.5em
      font-family "Nexa-Light", helvetica, sans-serif
      color turquoise
      a
        text-decoration none
        color turquoise
        &:hover
          color light-turquoise

    @media mobile-horizontal-max
     h1
      font-size 2em

  article
    box-sizing border-box
    width display-tablet
    margin 0 auto
    @media tablet-max
      width 100%
      padding 0 default-margin

  footer
    margin default-margin*2 default-margin default-margin
    .copy
      font-size .9em
      text-shadow 1px 1px 0 white
      color darken(cream, 5)
