// Layout
html, body
  background light-cream

body
  header, footer
    text-align center
    font-family "Proxima"

  header
    color turquoise
    h1
      font-size 2.5em
      padding default-margin
      font-family "Nexa-Light"

    @media mobile-horizontal-max
     h1
      font-size 2em

  article
    box-sizing border-box
    width display-mobile-horizontal
    margin 0 auto
    @media mobile-horizontal-max
      width 100%
      padding 0 default-margin

  footer
    margin default-margin*2 default-margin default-margin
    span
      font-size .9em
      text-shadow 1px 1px 0 white
      color darken(cream, 5)
