@import "nib"

global-reset()
reset-html5()

@import _base
@import _fonts
@import _layout

@import "components/buttons"
@import "components/inputs"

@import "templates/home"
@import "templates/list_created"
@import "templates/not_found"
@import "templates/shopping_list"

span.icon
  icon()

#create-new-shopping-list
  margin 2em 0 .5em
  text-align center
  a
    color light-gray
    font-family: "Proxima", arial, sans-serif
    &:hover
      color orange
