
global-reset()
reset-html5()
@import "nib"

@import _base
@import _fonts
@import _layout

@import "components/buttons"
@import "components/inputs"
@import "components/loading_screen"

@import "templates/home"
@import "templates/list_created"
@import "templates/not_found"
@import "templates/shopping_list"

span.icon
  icon()

h2
  padding default-margin
  font-size 1.8em
  font-family "Nexa-Light", helvetica, sans-serif
  color light-gray

#action-links
  margin 2em 0 .5em
  text-align center
  a
    color light-gray
    font-family: "Proxima", arial, sans-serif
    padding-left: 1em
    margin-left: 1em
    border-left : 1px solid cream
    &:first-child
      padding-left: 0
      margin-left: 0
      border: 0 none
    &:hover
      color orange
