article.home
  input, button
    margin-left 0
    margin-right 0
    width 100%
    box-sizing border-box
  input, button
    font-size 1.25em
    @media mobile-horizontal-min
      font-size 1.5em
  button
    margin-top: .1em
