article.home
  width display-mobile
  @media mobile-max
    width 100%
    padding 0 default-margin
  input, button
    margin-left 0
    margin-right 0
    width 100%
    box-sizing border-box
  input, button
    font-size 1.1em
    @media mobile-horizontal-min
      font-size 1.25em
  button
    margin-top: .1em
