article.list-created
  text-align center
  padding 4em 0 2em
  span, p
    font-family "Proxima", arial, sans-serif
    font-size 1.25em
    color turquoise
    margin-top 4em
  span.happy
    display inline-block
    margin 0
    width 1em
    height 1em
    padding-bottom .075em
    font-size 10em
    transform rotate(90deg)
  p
    margin 0 0 1em
    padding-left .5em
    color gray

  @media tablet-min
    font-size 1.25em
  @media tablet-horizontal-min
    font-size 1.5em
