!!! 5
html(lang="en", ng-app="Shoppinglist")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset="utf-8")
    title Ostoslista
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    link(rel="stylesheet", href="//temporary-siili-fonts.louneva.jp/fonts.css")
    != css('screen')
    script(src="/scripts/vendor/angular.js")
    script(src="/scripts/vendor/angular-resource.js")
    script(src="/scripts/app.js")
    script(src="/scripts/controllers.js")

  body
    header
      h1 Ostoslista

    //- include shopping_list
    form(method="post", action="/api/items", target="_blank")
      input(type="text", name="foo")
      button Submit

    footer Siili © 2013
