article(ng-controller="ShoppinglistCtrl")
  form(ng-submit="createItem(inputString)")
    .input-wrapper
      input.add-item(type="text", ng-model="inputString", required)
      button.action +
  ul
    li(ng-repeat="item in items | orderBy:sortProperty")
      input(type="checkbox", ng-model="item.bought")
      span
        strong {{ item.title }}&nbsp;
        span.amount(ng-hide="!item.amount || !item.unit")
          strong {{ item.amount }}
          span.unit {{ item.unit }}
      button.delete(ng-click="removeItem(item)") x

  select(ng-model="sortProperty", ng-options="option for option in sortOptions")
