article(ng-controller="ShoppinglistCtrl")
  form(ng-submit="createItem(inputString)")
    #create-item
      input.add-item(type="text", ng-model="inputString", required)
      button.action +

  #list
    select(ng-model="sortProperty", ng-options="option for option in sortOptions")
    ul
      li(ng-repeat="item in items | orderBy:sortProperty", ng-click="toggleBought(item, $event)")
        input(type="checkbox", ng-model="item.bought", ng-click="updateItem(item)")
        span
          strong {{ item.title }}&nbsp;
          span.amount(ng-hide="!item.amount || !item.unit")
            strong {{ item.amount }}
            {{ item.unit }}
        a.delete(href="", ng-click="removeItem(item)") x

